.body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #ffff;
  color: #434455;
}
ol,
ul {
  list-style: none;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
  display: block;
}

.upper-logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  justify-content: flex-start;
  margin-right: 76px;
  display: inline-block;
  padding: 17px 0;
}
.studio-logo {
  color: #2e2f42;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;

  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-title {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.main-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.menu {
  display: none;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-email-phone {
  display: none;
}

.address-email-phone {
  display: flex;
  gap: 40px;
}

.menu-open-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  line-height: 0;
}

.menu-open-btn-icon {
  fill: #2f2f37;
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 999999;
}

.mobile-menu-close-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  fill: #2e2f42;
  line-height: 0;
}
.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
  .upper-logo {
    margin-right: 120px;
  }
  .menu {
    display: flex;
    gap: 40px;
  }
  .nav-buttons {
    color: #2e2f42;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.02em;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-buttons-current {
    position: relative;
    color: #404bbf;
  }
  .nav-buttons-current::after {
    content: '';
    border-radius: 2px;
    width: 100%;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    position: absolute;
  }
  .nav-buttons:hover,
  .nav-buttons:focus {
    color: #404bbf;
  }

  .nav-address:hover,
  .nav-address:focus {
    color: #404bbf;
  }
  .nav-email-phone {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .nav-address {
    color: #434455;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: 0.02em;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1158px) {
  .upper-logo {
    margin-right: 76px;
  }
  .nav-email-phone {
    flex-direction: row;
    gap: 40px;
  }
  .nav-address {
    font-size: 16px;
    line-height: 1.5;
  }
}
